@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer components {
  .brutalism-container {
    @apply p-8  mx-4  mt-4 flex-1 border-black border-2  shadow-[6px_6px_0px_rgba(0,0,0,1)];    
  } 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
